<div class="col-lg-3 col-md-12 footer-newsletter">
    <h4>Mail Bültenimize Abone Olun</h4>
    <p>Bültenimize abone olun. Etkinlikler ve gelişmeler hakkında anında bilgi alın.</p>
    <form action="forms/newsletter.php" method="post" class="php-email-form">
        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Abonelik talebiniz gönderildi. Teşekkür ederiz!</div>
    </form>
</div>