
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<section id="about" class="about section">

    <div class="container">

        <div class="row position-relative">

            <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="~/Company-1.0.0/assets/img/fr/WhatsApp Image rakı.jpeg"></div>

            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <h2 class="inner-title">Biz Kimiz</h2>
                <div class="our-story">
                 
                    <h3>Hikayemiz</h3>
                    <p>
                        2021’den beri bir arada olan, zaman içinde büyüyen, değişen ama hep eğlencesini koruyan bir arkadaş grubuyuz. Kimi en başından beri burada, kimi sonradan aramıza katıldı ama hep birlikte kahkahalar attık, çılgın geceler yaşadık, bol bol kaos çıkardık ve tabii ki hepsini kendi içimizde çözmeyi de başardık.
                    </p>
                    <p>
                        Her anımız bir hikâye, her sohbetimiz efsane. Dostluk bizde sadece kelime değil, bazen tatlı atışmalar, bazen derin sohbetler, bazen de hiç bitmeyen oyunlarla dolu bir macera. Tabii ki aramızdan eksilenler de oldu, birilerini postaladık, ama bu ekibin özü hep aynı kaldı: Eğlence, samimiyet ve bol bol gırgır!
                    </p>
                    <p>
                        Geldiğimiz nokta mı? Ne olursa olsun birlikte gülmeyi bilen bir ekip. Daha nice anıya, kaosa ve efsane anlara! 🎉🔥
                    </p>
                
                </div>
            </div>

        </div>

    </div>

</section>

<section id="team" class="team section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Yetkili Takım</h2>
        <p>Sorunuz, öneriniz, şikayetiniz olduğunda bize ulaşın!</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4 justify-content-center">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="/UsersImg/ilhan2.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://x.com/ilhan2651"><i class="bi bi-twitter-x"></i></a>
                            <a href="https://github.com/ilhan2651"><i class="bi bi-github"></i></a>
                            <a href="https://www.instagram.com/ilhan.randaa/"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/ilhan-randa-951936224/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>İlhan Randa</h4>
                        <span>Admin</span>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="\UsersImg\baris.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://x.com/barisycdag"><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-github"></i></a>
                            <a href="https://www.instagram.com/_baris_ycdag/"><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Barış Şükrü Yücedağ</h4>
                        <span>Moderatör</span>
                    </div>
                </div>
            </div><!-- End Team Member -->


        </div>

    </div>

</section><!-- /Team Section -->
